
html {
    background: url(https://t4.ftcdn.net/jpg/03/25/38/41/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg);
    background-size: cover;
    
}


button {
    
    
    width: 270px;
    height: 80px;
    border: 0;
    outline: none;
    background: rgb(15, 141, 109);
    color: black;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.7);
}

footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 2fr 2fr ;
    height: 100vh;
}

.back {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#playerOne {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#playerOneCard {
    background: white;
    border-radius: 5%;
    width: 250px;
    height: 350px;
}

#playerTwo {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}

#playerTwoCard {
    background: white;
    border-radius: 5%;
    width: 250px;
    height: 350px;
}



h1 {
    display: grid;
    grid-row: 4fr.
}
